#redDivId {
  background-color: blueviolet;

  width: 300px;
}

.blueDiv {
  background-color: blue;
}

.blueDivFirstChild {
  width: 50%;
}
.blueDivSecondChild {
  width: 50%;
}
.blueDiv {
  background-color: green;
}

div {
  background-color: red;
}
